@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container" style="color: #3A5E78">
        <div class="row">
            <div class="col-sm card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Repos</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="col-sm card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">DRI Rotation</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="col-sm card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Security Groups</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Jarvis</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="col-sm card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">IcM</h5>
                    <p class="card-text"></p>
                </div>
            </div>
            <div class="col-sm card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Work Items</h5>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="row">
            <h1 class="display-4">Your Team's Resources</h1>
        </div>
        <div class="row">
            <!--display resources here-->
        </div>
    </div>
</div>
